# Ignore local Kustomize / Helm chart build caches
**/charts/
**/.charts/
*.tgz

# Ignore local secret tokens or values files used to test with
.env
values-local.yaml
*-local.yaml

# Ignore test manifest files 
test-*.yaml 
